:root {
    --ThemeColor1: #ffffff;
    --ThemeColor2: #131719;
}
/* Setup google fonts */
@font-face {
    font-family: 'DancingScript';
    src: url('assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: var(--ThemeColor2); */
    font-family: 'Raleway';
}
a {
    color: var(--ThemeColor2);
    text-decoration: none;
 }
.navbar {
    background-color: var(--ThemeColor1);
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 10px 0 1px 1px rgb(232, 224, 224);
}
.logo {
    margin-right: 30px;
}
.logo > a{
    display: flex;
    align-items: center;
}
.logo > a > img {
    width: 50px;
}

.searchBar {
    margin-right: auto;
}
.searchBar > form {
    border: 2px solid rgb(26, 79, 255);
    border-radius: 5px;
    width: 600px;
    display: flex;
    align-items: center;
}

.search {
    padding: 8px;
    width: 80%;
    border: none;
    outline: none;
}
.powered {
    font-size: 0.7rem;
    width: 20%;
}
.loginBtn:hover {
    padding: 8px;
    background-color: rgba(162, 162, 222, 0.797);
    border-radius: 5px;
    text-decoration: underline;
}
.signUpBtn {
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    color: blue;
}
.signUpBtn:hover {
    background-color: blue;
    color: white;
    text-decoration: underline;
}
.main {
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 90vh;
}
footer {
    text-align: center;
    background-color: #47ddf4;
    color: black;
}



.shadow {
    width: 150px;
    height: 150px;
    background-color: gray;
    box-shadow: 10px -10px 10px 5px rgb(202, 196, 196);
}